<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- namespace等于mapper接口类的全限定名,这样实现对应 -->
<configuration>
    <settings>
        <!--设置myBatis全局配置采用驼峰命名法  -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
</configuration>